<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CBB20CEB1F4C3A4B00E7B8DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBB20D041F4C3A4B00E7B8DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBB20D0F1F4C3A4B00E7B8DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
